# Agrupación y Segmentación de Vecindarios en la Ciudad de Toronto, Canadá

In [97]:
import numpy as np # librería para manejar datos vectorizados

import pandas as pd # librería para análisis de datos
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # librería para manejar archivos JSON 

!conda install -c conda-forge geopy --yes # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare 
from geopy.geocoders import Nominatim # convertir una dirección en valores de latitud y longitud

import requests # librería para manejar solicitudes
from pandas.io.json import json_normalize # librería para convertir un archivo json en un dataframe pandas

# Matplotlib y módulos asociados para graficar
import matplotlib.cm as cm
import matplotlib.colors as colors

# importar k-means desde la fase de agrupación
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare
import folium # librería para graficar mapas 

print('Libraries imported.')

Libraries imported.

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare

In [188]:
df = pd.read_excel(r'C:\Users\sergio.carmona\Documents\Certificados Curso DataScience\Videos Curso DataScience\Curso 9. Capstone\Data1.xlsx')
df.head()

                                           Contenido
0                                    M1ANot assigned
1                    M1BScarborough(Malvern / Rouge)
2  M1CScarborough(Rouge Hill / Port Union / Highl...
3  M1EScarborough(Guildwood / Morningside / West ...
4                             M1GScarborough(Woburn)

## Parte 1

In [189]:
#Extraer PostalCode
df['Postal Code'] = df['Contenido'].str.extract('(\w{1}\d{1}\w{1})')

In [190]:
#Extraer Borough
df['Borough'] = df['Contenido'].str.extract('(?<=\w{1}\d{1}\w{1})(.*)(?=\()')

In [191]:
df['Temp'] = df['Contenido'].str.extract('(?<=\()(.*)(?=\))')

In [192]:
#Extraer Neighborhood
df['Neighborhood'] = df['Temp'].str.split(' / ')

In [193]:
#Eliminar columnas innecesarias
df = df.drop('Contenido',1).drop('Temp',1)

In [194]:
#Eliminar filas Nan
df = df.dropna()

In [195]:
df = df.reset_index(drop=True)

In [196]:
df.shape

(103, 3)

In [197]:
df.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                          [Malvern, Rouge]
1         M1C  Scarborough  [Rouge Hill, Port Union, Highland Creek]
2         M1E  Scarborough       [Guildwood, Morningside, West Hill]
3         M1G  Scarborough                                  [Woburn]
4         M1H  Scarborough                               [Cedarbrae]

## Parte 2

In [198]:
df_coordenadas = pd.read_csv(r'C:\Users\sergio.carmona\Documents\Certificados Curso DataScience\Videos Curso DataScience\Curso 9. Capstone\Geospatial_Coordinates.csv')
df_coordenadas.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [202]:
df = pd.merge(df, df_coordenadas)

In [203]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"[Malvern, Rouge]",43.806686,-79.194353
1,M1C,Scarborough,"[Rouge Hill, Port Union, Highland Creek]",43.784535,-79.160497
2,M1E,Scarborough,"[Guildwood, Morningside, West Hill]",43.763573,-79.188711
3,M1G,Scarborough,[Woburn],43.770992,-79.216917
4,M1H,Scarborough,[Cedarbrae],43.773136,-79.239476